{% extends 'skeletons/main.twig' %}

{% block title %}AuResS Viewer - Join Room{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/index.min.css?__t={{ 'now' | date('Y-m-d_h-i-s.u') }}">
{% endblock head %}

{% block body %}
    <h1 id="header">AuResS Viewer</h1>
    <div class="index-container">
        <form action="{{ path_for('room:join.post') }}" method="POST">
            <div class="input-container">
                <input type="number" maxlength="4" onkeypress="return this.value.length < 4" name="room" id="room-id" required>
                <label for="room-id">Room ID</label>
            </div>
            <div class="input-container">
                <input type="submit" value="Show">
            </div>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
        </form>
    </div>
{% endblock body %}
