{% extends 'skeletons/main.twig' %}

{% block title %}AuResS Viewer - Room {{ room }}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/css/view.min.css?__t={{ 'now' | date('Y-m-d_H:i:s.u') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"
            integrity="sha256-CIc5A981wu9+q+hmFYYySmOvsA3IsoX+apaYlL0j6fg=" crossorigin="anonymous"></script>
    <script src="/js/view.min.js?__t={{ 'now' | date('Y-m-d_H:i:s.u') }}"></script>
{% endblock head %}

{% block body %}
    <h1>Room: {{ room }}</h1>
    <h3>{{ type }} answer</h3>
    <div id="plot" style="height: 80vh; width: 100%;"></div>
    <script>
        var chart = ChartVM({{ data | json_encode }});
    </script>
{% endblock body %}
