{% extends 'skeletons/main.twig' %}

{% block title %}AuResS Viewer - Room {{ room }}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/css/view.min.css?__t={{ 'now' | date('Y-m-d_H:i:s.u') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" integrity="sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M="
            crossorigin="anonymous"></script>
    <script src="/js/view.min.js?__t={{ 'now' | date('Y-m-d_H:i:s.u') }}"></script>
{% endblock head %}

{% set types = [ "first", "last", "all" ] %}

{% block body %}
    <h1 class="header">Room: {{ room }}</h1>
    <h3 class="answer-info">{{ type | capitalize }} answers</h3>
    <ul class="type-links">
        <li><span>Choose answers:</span></li>
        {% for t in types %}
            {% if t == type %}
                <li><span>{{ t | capitalize }}</span></li>
            {% else %}
                <li><a href="{{ path_for("room:view", { "room": room, "type": t }) }}">{{ t | capitalize }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <form action="{{ path_for("room:leave.post") }}" method="POST">
        <h4 class="leave"><input type="submit" value="Leave room" name="leave" class="as-link"></h4>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
    </form>
    <div class="plot-container">
        <canvas id="plot"></canvas>
    </div>
    <script>
        ChartVM(
            {
                'data': {{ data | json_encode }},
                'dataURL': '{{ path_for("api:room:data", { "room": room, "type": type }) }}',
                'type': 'bar',
                'id': 'plot'
            }
        );
    </script>
{% endblock body %}
